.table-container {
  width: 100%;
  margin: 60px 0px 60px 0px;
}
table {
  width: 80%;
  margin: 0 auto;
}
.w-30 {
  width: 30px;
}
.w-70 {
  width: 70px;
}
.center th, td {
  text-align: center;
}
.bold {
  font-weight: bold;
}
